.movie-card_main-div {
  position: relative;
  background-color: #171717;
  min-height: 100dvh;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

.movie-card {
  min-height: 90dvh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-template-areas:
  ". caption caption"
  ". content poster";
  align-content: center;
  padding-left: 3vw;
  margin-bottom: 10vh;
}

.movie-caption_block {
  min-height: 5vh;
  grid-area: caption;
  text-align: center;
  font-weight: 700;
}

.animate__animated.animate__fadeIn {
  animation-duration: 1.5s;
}

.movie-card_poster {
  grid-area: poster;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 2vw
}

.movie-card_poster img {
  border: #FFF solid 1px;
  border-radius: 15px;
}

.movie-card_content {
  grid-area: content;
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vh;
}

.movie-card_content p {
  font-style: inherit;
  font-size: 1.5rem;
}

.navigation-button {
  width: 10vw;
  height: 7vh;
  border: none;
  color: #FFF;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5vw;
  font-weight: 700;
  transition: transform .3s;
  margin: 2vh 0 5vh 3vw;
}

.navigation-button:hover {
  transform: scale(1.2);
}

.movie-recomendations_block {
  text-align: center;
}

.movieList-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 6vw;
  padding: 3rem;
}

.alert-block {
  width: 30%;
  position: fixed;
  left: 35vw;
  bottom: 1vh;
  z-index: 5;
}

@media (orientation: portrait) and (min-height: 300px) and (max-height: 1400px) and (max-width: 695px) {
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
  }

  .movie-card_poster img {
    width: 50vw;
  }

  .movie-card_content {
    width: 90%;
  }

  .movie-card_content, .movie-card_poster {
    height: max-content;
  }

  .navigation-button {
    width: 35vw;
  }

  .movie-caption_block h1 {
    font-size: 1.5rem;
  }

  .movie-card_content p {
    font-size: 1rem;
  }

  .alert-block {
    width: 80% !important;
    left: 12vw !important;
  }
}

@media (orientation: portrait) and (max-height: 900px) and (min-width: 700px) {
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
  }

  .movie-card_poster img {
    width: 50vw;
  }

  .movie-card_content {
    width: 90%;
  }

  .movie-card_content, .movie-card_poster {
    height: max-content;
  }

  .navigation-button {
    width: 35vw;
  }

  .movie-caption_block h1 {
    font-size: 1.5rem;
  }

  .movie-card_content p {
    font-size: 1rem;
  }

  .alert-block {
    width: 80% !important;
    left: 12vw !important;
  }
}

@media (orientation: portrait) and (min-height: 1000px) and (max-height: 1150px) and (min-width: 700px) {
  .movie-card {
    margin-bottom: 15vh;
    min-height: max-content;
  }

  .navigation-button {
    height: max-content;
    width: 15vw;
  }

  .movie-card_content, .movie-card_poster {
    max-height: 50vh;
  }

  .movie-caption_block {
    margin-bottom: 14vh;
  }
}

@media (orientation: portrait) and (min-height: 1200px) and (max-height: 1400px) and (min-width: 700px) {
  .movie-card {
    margin-bottom: 13vh;
    min-height: max-content;
  }

  .alert-block {
    width: 70%;
    left: 18vw;
  }

  .movie-card_content, .movie-card_poster {
    max-height: max-content;
  }

  .movie-caption_block {
    margin-bottom: 5vh;
  }

  .navigation-button {
    height: max-content;
  }
}

@media (orientation: landscape)  and (min-width: 550px) and (max-width: 650px) {
  .navigation-button {
    width: 20vw;
    margin-top: 5vh;
  }

  .movie-card_content p {
    font-size: 1rem;
  }

  .movie-card_poster img {
    width: 30vw;
  }

  .alert-block {
    width: 70%;
    left: 17vw;
  }

  .movie-card {
    margin-bottom: 50vh;
  }

  .movie-caption_block {
    margin-bottom: 30vh;
  }
}

@media (orientation: landscape) and (min-width: 650px) and (max-width: 750px) {
  .navigation-button {
    width: 15vw;
    margin-top: 5vh;
  }

  .movie-card_content p {
    font-size: 1rem;
  }

  .movie-card_poster img {
    width: 30vw;
  }

  .alert-block {
    width: 70%;
    left: 17vw;
  }

  .movie-card {
    margin-bottom: 20vh;
  }

  .movie-caption_block {
    margin-bottom: 15vh;
  }
}

@media (orientation: landscape) and (min-width: 750px) and (max-width: 850px) and  (min-height: 550px) and (max-height: 650px) {
  .navigation-button {
    width: 15vw;
  }

  .movie-card_content p {
    font-size: 1rem;
  }

  .movie-card_poster img {
    width: 30vw;
  }

  .movie-card_content {
    gap: 1vh;
  }

  .alert-block {
    width: 70%;
    left: 17vw;
  }
}

@media (orientation: landscape) and (min-width: 1000px) and (max-width: 1150px) {
  .alert-block {
    width: 70%;
    left: 17vw;
  }

  .movie-card_content {
    gap: 1vh;
  }
}

@media (orientation: landscape) and (min-width: 1200px) and (max-width: 1400px) {
  .navigation-button {
    font-size: 1.3rem;
  }

  .movie-card_content p {
    font-size: 1.7rem;
  }
}
